# -*- python -*-
# ex: set syntax=python:

import time 
from buildbot.config import BuilderConfig
from buildbot.buildslave import BuildSlave
from buildbot.process.factory import BuildFactory
from buildbot.process.properties import Property
from buildbot.process.properties import Properties
from buildbot.process.properties import WithProperties
from buildbot.steps.source import Mercurial
from buildbot.steps.source import Git
from buildbot.steps.shell import ShellCommand
from buildbot.steps.shell import SetProperty
from buildbot.process.buildstep import LoggingBuildStep
from buildbot.process.buildstep import BuildStep
from buildbot.process.buildstep import RemoteShellCommand
from buildbot.schedulers.basic import SingleBranchScheduler
from buildbot.changes import filter
from buildbot.status import html
from buildbot.status.web import authz
from buildbot.process import buildstep, factory, properties
from buildbot.status import results 

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

####### BUILDSLAVES

# The 'slaves' list defines the set of recognized buildslaves. Each element is
# a BuildSlave object, specifying a unique slave name and password.  The same
# slave name and password must be configured on the slave.
c['slaves'] = [BuildSlave("centos5-slave", "pass"), 
                BuildSlave("debian6-amd64", "pass"), 
                BuildSlave("example-slave", "pass"),
                ]

# 'slavePortnum' defines the TCP port to listen on for connections from slaves.
# This must match the value configured into the buildslaves (with their
# --master option)
c['slavePortnum'] = 9989

####### CHANGESOURCES

#FIXME: implement mercurial checker here.
# https://vrws.nl/redmine/issues/30 

####### SCHEDULERS

# Configure the Schedulers, which decide how to react to incoming changes.  In this
# case, just kick off a 'runtests' build

c['schedulers'] = []

####### BUILDERS

# Set global variables to be used here.
# (Remember to use env=env when using shellcommands!)
env={'MIRROR': '141.138.195.186', 'DEBFULLNAME': 'OpenPanel packager', 'DEBEMAIL': 'packages@openpanel.com'}


class NewRev(LoggingBuildStep):
    ''' 
        This class sets several variables that are needed later on to determine
        buildsteps and version numbers. 
    '''
    
    def __init__(self, opnlcomp, lsbdistcodename, arch, src_name, tipmost, **kwargs):
        ''' 
        In the previous CI, $dist was used. lsbdistcodename is used by
        puppet/facter, which could become handy at some point in the future. Hence.
        '''
        LoggingBuildStep.__init__(self, **kwargs)
        self.opnlcomp = opnlcomp
        self.arch = arch
        self.lsbdistcodename = lsbdistcodename
        self.src_name = src_name
        self.tipmost = tipmost
        self.addFactoryArguments(src_name=src_name, 
            tipmost=tipmost, 
            opnlcomp=opnlcomp, 
            lsbdistcodename=lsbdistcodename, 
            arch=arch)

    def start(self):
        date = time.strftime("%Y%m%d")
        opnlcomp = self.opnlcomp
        arch = self.arch
        lsbdistcodename = self.lsbdistcodename

        self.setProperty("component", opnlcomp, "OpenPanel Component")
        self.setProperty("date", date, "date full")
        self.setProperty("lsbdistcodename", lsbdistcodename, "LSB defined release name")
        self.setProperty("arch", arch, "Hardware Architecture")
        self.finished(results.SUCCESS)



        
def make_factory(opnlcomp, lsbdistcodename, arch):
    """
    Generates the BuildFactory (e.g. set of build steps) for this (branch,
    python, database) combo. The series of steps is described in the module
    docstring, above.
    """
    hgrepo = "http://hg.openpanel.com/%s/" % opnlcomp

    # Update the repo or create if it does not exist.
    hgup =  Mercurial(baseURL=hgrepo, 
                                workdir="build", 
                                mode="update", 
                                env=env,
                                )

    # REVISION
    rev = SetProperty(command='hg id -n | /bin/sed -e "s/+$//"', property="rev")

    # Get the name of the source package
    src_name = SetProperty(command="cat debian/control | grep ^Source: | sed -e 's/^Source: //'", 
                            property="src_name", 
                            env=env,
                            )

    tipmost = SetProperty(command='hg tags | { read a; read line; tipmost=`echo "$line" | cut -f1 -d" "`; echo "$tipmost"; }', property="tipmost") 

    # https://vrws.nl/redmine/issues/72
    ex = SetProperty(command="echo 1", property="ex", env=env) # FIXME FIXME

    # Now that we have the version nr, we should be 
    debchange = ShellCommand(command=['debchange', 
                                '--force-bad-version', 
                                '--newversion', 
                                WithProperties('%(newver)s'), 
                                'autogenerated', 
                                '--force-distribution', 
                                '--distribution', 
                                WithProperties('%(lsbdistcodename)s')],
                                )

    # Now that we have a .dsc, we can build a source package:
    dpkg_buildpackage = ShellCommand(command=['dpkg-buildpackage', 
                                    '-us', 
                                    '-uc', 
                                    '-d', 
                                    '-S', 
                                    '-sa', 
                                    '-i', 
                                    '-I',
                                    ])

    # Now that we have a source package, we can build a binary package:
    pbuilder = ShellCommand(command=['pbuilder', 
                                    'build', 
                                    '--basetgz', 
                                    WithProperties('/var/cache/pbuilder/%(lsbdistcodename)s-%(arch)s.tgz'), 
                                    '--buildresult', 
                                    WithProperties('/var/cache/pbuilder/result/%(src_name)s_%(newver)s/'), 
                                    WithProperties('../%(src_name)s_%(newver)s.dsc'), 
                                    ])
    
    version_id = ShellCommand(command=['/bin/bash', '-c', 'hg tags | { read a; read line; tipmost=`echo "$line" | cut -f1 -d" "`; echo "$tipmost"; } > version.id'])

    # This is a sledgehammer that needs to be made more subtle.
    # FIXME: https://vrws.nl/redmine/issues/54
    repo_premission_fix = ShellCommand(command=['chown', '-R', 'www-data:www-data', '/srv/repository'])

    f = BuildFactory()
    f.addSteps([
        hgup,

        # I would really really like to set 'tipmost' and 'src_name'from the class NewRev,
        # but can't wrap my head around the correct code. 
        # I do not understand how I can use a buildstep (SetProperty) inside my
        # own buildstep.
        tipmost,
        src_name,
        rev,
        ex, 
        repo_premission_fix,
        NewRev(opnlcomp, lsbdistcodename, arch, src_name, tipmost),
        # Setting newver where I should not. 
        SetProperty(command=['echo', WithProperties('%s-%s+%s.%s+%s', 'tipmost', 'rev','date', 'ex', 'lsbdistcodename'), ], property="newver"),
    
        # Clean up previous results dir if exists, just to make sure. 
        ShellCommand(command=['rm', '-rf', WithProperties('/var/cache/pbuilder/result/%(src_name)s_%(newver)s')]),
        # Create a results folder to place the .debs in (before passing it onto
        # reprepro)
        ShellCommand(command=['mkdir', WithProperties('/var/cache/pbuilder/result/%(src_name)s_%(newver)s')]),

        debchange,
        version_id,
        dpkg_buildpackage, 
        pbuilder,
        
        # Upload packages:
        ShellCommand(command=['reprepro', 
                                '-V', 
                                '--waitforlock', 
                                '12', 
                                '-b', 
                                '/srv/repository', 
                                'include', 
                                WithProperties("%(lsbdistcodename)s"), 
                                WithProperties('/var/cache/pbuilder/result/%(src_name)s_%(newver)s/%(src_name)s_%(newver)s_%(arch)s.changes')]
                        ),

        # Debug output for me:
        ShellCommand(command=['echo', 'DEBUG:', WithProperties('%(ex)s, %(src_name)s %(component)s %(date)s %(lsbdistcodename)s %(arch)s %(tipmost)s '),]),
    ])
    return f


# Create a list of components (hg repos really...):
components=[
    "grace",
    "opencore",
    "openpanel-gui",
    "authd",
    "opencli",
    ]

c['builders'] = []

for component in components:
    name=component
    factory=component
    c['builders'].append(
        BuilderConfig(name=name,
        slavenames=["debian6-amd64"],
        factory=make_factory(factory, "lenny", "i386")))
    print(component)


####### STATUS TARGETS

# 'status' is a list of Status Targets. The results of each build will be
# pushed to these targets. buildbot/status/*.py has a variety to choose from,
# including web pages, email senders, and IRC bots.

c['status'] = []

authz_cfg=authz.Authz(
    # change any of these to True to enable; see the manual for more
    # options
    gracefulShutdown = False,
    forceBuild = True, # use this to test your slave once it is set up
    forceAllBuilds = False,
    pingBuilder = False,
    stopBuild = False,
    stopAllBuilds = False,
    cancelPendingBuild = False,
)
c['status'].append(html.WebStatus(http_port=8010, authz=authz_cfg))

####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot
# installation's html.WebStatus home page (linked to the
# 'titleURL') and is embedded in the title of the waterfall HTML page.

c['title'] = "OpenPanel"
c['titleURL'] = "http://openpanel.org"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server (usually the html.WebStatus page) is visible. This
# typically uses the port number set in the Waterfall 'status' entry, but
# with an externally-visible host name which the buildbot cannot figure out
# without some help.

c['buildbotURL'] = "http://localhost:8010/"

####### DB URL

# This specifies what database buildbot uses to store change and scheduler
# state.  You can leave this at its default for all but the largest
# installations.
c['db_url'] = "sqlite:///state.sqlite"

